---
import Layout from "../../../layouts/Layout.astro";
import App from "../../../components/App.svelte";
import Cart from "../../../components/Checkout/Cart.svelte";
import Summary from "../../../components/Checkout/Summary.svelte";
import Steps from "../../../components/Checkout/Steps.svelte";
import BackButton from "../../../components/BackButton.astro";

const { t, lang, session } = Astro.locals;
---

<Layout title={t("metadata.title")} description={t("metadata.description")}>
    <App client:load locale={lang} session={session}>
        <div class="wrapper">
            <div class="flex flex-col gap-8 py-10 lg:flex-row">
                <div class="flex w-full flex-col gap-10 lg:w-1/2">
                    <BackButton />

                    <div class="flex flex-col gap-4">
                        <h2 class="text-[40px]/[48px] font-bold tracking-[0%] text-black">
                            {t("checkout.title")}
                        </h2>
                        <p class="text-content">
                            {t("checkout.subtitle")}
                        </p>
                    </div>

                    <Cart client:load />
                </div>
                <div
                    class="sticky bottom-4 flex h-fit w-full flex-col gap-6 rounded-3xl border bg-white pt-6 pr-4 pb-10 pl-4 lg:top-(--sticky-top) lg:bottom-auto lg:w-1/2 lg:gap-6 lg:rounded-[40px] lg:p-6"
                >
                    <Summary
                        client:load
                        hasError={false}
                        amount={undefined}
                    />
                    <div class="lg:block" id="checkout-details">
                        <Steps step={1} client:load hasError={false} />
                        <div class="flex flex-col px-0 pt-6 pb-0 lg:px-6 lg:pt-0 lg:pb-0">
                            <p class="text-content text-sm">{t("checkout.summary.deduct")}</p>
                        </div>
                    </div>
                    <div class="flex flex-col items-end px-0 pt-0 pb-0 lg:px-6 lg:pt-0 lg:pb-0">
                        <a
                            class="bg-primary text-secondary w-fit cursor-pointer rounded-3xl px-6 py-4 font-bold"
                            href="/checkout/payment"
                        >
                            {t("common.continue")}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </App>
</Layout>
