---
import "../styles/global.css";
import Metatags from "../components/Metatags.astro";
// import ThemeToggle from "../components/ThemeToggle.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { lang } = Astro.locals;

export interface Props {
    title: string;
    description?: string;
    class?: string;
}
const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html {lang} data-theme="light" class="bg-background">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>{title}</title>
        <Metatags {title} {description} />
        <script
            type="text/javascript"
            id="ngos-ed-on-file-widget-script-17336c1f-917d-492b-bc53-225c95e103da"
        >
            (function () {
                function async_load() {
                    var s = document.createElement("script");
                    s.type = "text/javascript";
                    s.async = true;
                    var theUrl =
                        "http://www.ngosource.org/sites/default/files/ngos_ed_on_file_widget.js";
                    s.src =
                        theUrl +
                        (theUrl.indexOf("?") >= 0 ? "&" : "?") +
                        "ref=" +
                        encodeURIComponent(window.location.href);
                    var embedder = document.getElementById(
                        "ngos-ed-on-file-widget-script-17336c1f-917d-492b-bc53-225c95e103da",
                    );
                    embedder.parentNode.insertBefore(s, embedder);
                }

                if (window.attachEvent) window.attachEvent("onload", async_load);
                else window.addEventListener("load", async_load, false);
            })();
        </script>
    </head>
    <body class="grid min-h-screen overflow-x-hidden">
        <Header />
        <main
            class={`w-full max-w-screen flex-1 flex flex-col ${className ? ` ${className}` : ""}`}
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>
